/mycognitiv-angular/.angular
/mycognitiv-angular/node_modules
mycognitiv-microservices/candidate-service/.classpath
mycognitiv-microservices/candidate-service/.factorypath
mycognitiv-microservices/candidate-service/.project
/mycognitiv-microservices/candidate-service/.settings
/mycognitiv-microservices/candidate-service/target
