.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: rgba(24, 22, 22, 0.123);
  background-color: rgba(36, 33, 33, 0.041);
  font-weight: 550;
  color: royalblue;
}

mat-icon {
  font-size: 20px;
  color: royalblue;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
  width: 100%;
}

.search-bar-and-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  width: 100%;
}

.search-bar {
  width: 25%;
}

.buttons-container {
  display: flex;
  gap: 10px;
}

.table-container {
  width: calc(100% - 60px);
  box-sizing: border-box;
  overflow-x: auto;
}

.spacer {
  height: 50px;
}

.paginator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
}

.button-size {
  width: 200px;
}

.title {
  font-weight: 450;
  color: royalblue;
  font-size: 30px;
}

.no-underline {
  text-decoration: none;
}