.example-spacer {
    flex: 1 1 auto;
  }
  
  .drawer-container {
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
  }

  .router-outlet-container{
    width: 100%;
    height:100%;
  }

  .background-container {
    background-image: url('../assets/images/dashboard.jpg');
    background-size: cover;
    background-position: center;
    height: 610px;
  }

  .mat-mdc-list-base{
    --mdc-list-list-item-label-text-size:20px;
  }

  .mdc-button{
    font-size:20px;
  }

  mat-progress-bar {
    position: relative; 
    z-index: 1000;
  }

  .item {
    margin-left: 16px;
  }

  .menu-container{
    background-color: white;
  }

  span{
    font-size: 15px;
  }

  .active {
    color:royalblue;
    font-weight: 500;
  }
