<h1 mat-dialog-title class="title"> Customize {{data.tableName}} Table</h1>

<mat-dialog-content>

    <form #tableCustomizationForm="ngForm">
      <mat-form-field style="width: 100%;">
          <mat-label>Select columns</mat-label>
          <mat-select name="selectedColumns" multiple [(ngModel)]="selectedColumns">
            <mat-option *ngFor="let column of allColumns" [value]="column"> {{column | titleCase}} </mat-option>
          </mat-select>
      </mat-form-field>
    </form> 
  
  </mat-dialog-content>

  <mat-dialog-actions class="dialog-buttons">
  
    <button mat-raised-button [mat-dialog-close]="selectedColumns" >SUBMIT</button>
  
    <button mat-raised-button cdkFocusInitial (click)="dialogRef.close()" color="warn" >CANCEL</button>
    
  </mat-dialog-actions>
  

